.pivo {
    position: relative;

    &__logo {
        position: absolute;
        z-index: 2;
        width: 200vw;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        opacity: 0.7;
    }

    /*&__img-container {
        position: absolute;
        background-color: orange;
        z-index: 3;
        top: 0;
        left: 0;
        opacity: 0.7;
        width: 100%;
        height: 100vh;
    }*/

    &__video-container {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 100vh;

        video {
            position: absolute;
            width: auto;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            min-width: 100vw;
            min-height: 100vh;
        }
    }

    &__buttons-container {
        position: absolute;
        bottom: 10vh;
        z-index: 5;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            text-decoration: none;
        }

        img {
            width: 250px;
            margin: 10px;
        }
    }
}

@media (max-width: 767px) {
    .pivo {

        &__logo {
            top: 40vh;
            width: 150vh;
            height: 150vh;
        }
        &__buttons-container {
            display: block;
            text-align: center;

            img {
                width: 200px;
            }
        }
    }
}